

/* === Attendance Page Styles === */


.controls, .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

label, select, button {
    margin-right: 10px;
}

select, button {
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px; /* Controls internal spacing inside the button */
    background-color: var(--primary-color); /* Use your primary color */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px; /* Adds space between buttons */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

td select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

td .btn-container {
    display: flex;
    justify-content: space-evenly;
}

.actions button {
    background-color: #28a745;
}

.actions button:hover {
    background-color: #218838;
}

/* Update and Delete buttons */
td .btn-container button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td .btn-container .update-btn {
    background-color: #28a745;
    color: white;
}

td .btn-container .delete-btn {
    background-color: #dc3545;
    color: white;
}

td .btn-container .update-btn:hover {
    background-color: #218838;
}

td .btn-container .delete-btn:hover {
    background-color: #c82333;
}

 /* Style for action buttons */
 .actions-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.save-draft, .attendance-report {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.save-draft:hover, .attendance-report:hover {
    background-color: #218838;
}

.attendance-report {
    background-color: #007bff;
}

.attendance-report:hover {
    background-color: #0056b3;
}
