.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 30px;
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(45,253,156,1) 50%, rgba(253,187,45,1) 100%);
}

.image-container {
  width: 40%; 
}

.side-image {
  width: 80%; 
  height: auto;
  border-radius: 25px ;
}

.login-container {
  width: 30%; 
  background-color: #f4f4f4;
  padding: 30px; 
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

p {
  text-align: center;
  color: #333;
  font-weight: bold;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px; 
  margin-bottom: 6px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 8px; 
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.remember-me {
  display: flex; 
  align-items: center; 
  margin-bottom: 10px;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px; 
  display: inline-block;
}

.remember-me label {
  font-size: 14px;
  color: #333;
}

.reg-link {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  background-color: #f4f4f4;
  justify-content: center;
  display: flex;

}


.login-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #555;
}

/* Styling the dropdown (select) menu */
.input-group select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.input-group select:focus {
  border-color: #333; /* Changes border color when focused */
  outline: none;      /* Removes the default outline */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow on focus */
}

.input-group select option {
  padding: 10px;
  font-size: 14px;
}

/* Styling the error message */
#error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}
